.gallery-master .d-flex {
  display: flex;
}
.gallery-master .p-relative {
  position: relative;
}
.gallery-master .p-absolute {
  position: absolute;
}

.gallery-master .flex-column {
  flex-direction: column;
}

.gallery-master .justify-start {
  justify-content: flex-start;
}

.gallery-master .justify-center {
  justify-content: center;
}

.gallery-master .justify-between {
  justify-content: space-between;
}

.gallery-master .justify-around {
  justify-content: space-around;
}

.gallery-master .justify-end {
  justify-content: flex-end;
}

.gallery-master .align-center {
  align-items: center;
}

.gallery-master .multi-row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-master .multi-row-flex > * {
  flex: 0 32%;
  margin-bottom: 2%;
}

.gallery-master .flex-1 {
  flex: 1;
}

.gallery-master .flex-wrap {
  flex-wrap: wrap;
}

.zoom-image-container,
.gallery-master .slideshow-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.gallery-master .top-right {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 99999 !important;
}

.gallery-master .h-100 {
  height: 100%;
}

.gallery-master .w-100 {
  width: 100%;
}

.gallery-master .cursor-zoom {
  cursor: zoom-in;
}

.gallery-master .cursor-grab {
  cursor: grab;
}

/* Custom */

.gallery-master button.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery-master input[type="range"] {
  cursor: pointer;
  -webkit-appearance: none;
}

.gallery-master input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.gallery-master input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1070ca;
  margin-top: -4px;
}

.gallery-master input[type="range"]:focus {
  outline: none;
}

.gallery-master input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
