.w-100 {
  width: 100%;
}

.ml-2 {
  margin-left: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.multi-row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.multi-row-flex > * {
  flex: 0 32%;
  margin-bottom: 2%;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.two-col-row {
  display: flex;
  align-items: center;
}

.two-col-row:first-child {
  text-align: right;
  flex: 1;
}

.two-col-row:nth-child(2) {
  text-align: left;
  flex: 1;
}
