.gallery-master .w-100 {
  width: 100%;
}

.gallery-master .ml-2 {
  margin-left: 20px;
}
.gallery-master .mb-2 {
  margin-bottom: 20px;
}

.gallery-master .d-flex {
  display: flex;
}

.gallery-master .flex-column {
  flex-direction: column;
}

.gallery-master .justify-start {
  justify-content: flex-start;
}

.gallery-master .justify-center {
  justify-content: center;
}

.gallery-master .justify-between {
  justify-content: space-between;
}

.gallery-master .justify-around {
  justify-content: space-around;
}

.gallery-master .justify-end {
  justify-content: flex-end;
}

.gallery-master .align-center {
  align-items: center;
}

.gallery-master .flex-1 {
  flex: 1;
}

.gallery-master .text-right {
  text-align: right;
}

.gallery-master .text-left {
  text-align: left;
}

.gallery-master .multi-row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-master .multi-row-flex > * {
  flex: 0 32%;
  margin-bottom: 2%;
}

.gallery-master .flex-1 {
  flex: 1;
}

.gallery-master .flex-wrap {
  flex-wrap: wrap;
}

.gallery-master .two-col-row {
  display: flex;
  align-items: center;
}

.gallery-master .two-col-row:first-child {
  text-align: right;
  flex: 1;
}

.gallery-master .two-col-row:nth-child(2) {
  text-align: left;
  flex: 1;
}
