.gallery-master .d-flex {
  display: flex;
}

.gallery-master .flex-column {
  flex-direction: column;
}

.gallery-master .justify-start {
  justify-content: flex-start;
}

.gallery-master .justify-center {
  justify-content: center;
}

.gallery-master .justify-between {
  justify-content: space-between;
}

.gallery-master .justify-around {
  justify-content: space-around;
}

.gallery-master .justify-end {
  justify-content: flex-end;
}

.gallery-master .align-center {
  align-items: center;
}

.gallery-master .multi-row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-master .flex-1 {
  flex: 1;
}

.gallery-master .flex-wrap {
  flex-wrap: wrap;
}
